# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,hpp,cxx,cc,cmake}]
continuation_indent_size = 4
indent_style = tab
indent_size = 4
tab_width = 4
curly_bracket_next_line = false

[*.qml]
continuation_indent_size = 8
indent_style = space
indent_size = 4
quote_type = double

# For QML JavaScript snippets
[*.js]
continuation_indent_size = 8
indent_style = space
indent_size = 4
quote_type = double
